@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

h1, h2 {
	margin: 16px;
}

div {
	text-align: center;
}

p {
	font-size: small;
	margin: 5px;
}